<!DOCTYPE html>
<html>
<head>
  <title>Don't Bug Me</title>
  <%= stylesheet_link_tag 'application', media: 'all',
  'data-turbolinks-track'=> true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("dilbert_bug.jpg") %>
    <%= @page_title || "Don't Bug Me" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/bugs">Bugs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
